{% extends 'base.html' %}
{% block content %}
    {% now "Y-m-d-h" as todays_date %}
    <div class="content-container my-5 p-5 offers-container">
        <h3 class="text-center">Tilboðin mín</h3>
        <div class="row">
            <div class="col-12">
            {{ offers_received }}
            {{ offers_made }}
                <ul class="nav nav-tabs" id="offersTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="offers-to-me-tab" data-toggle="tab" href="#offers-to-me" role="tab" aria-controls="offers-to-me" aria-selected="true">Tilboð til mín</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="offers-from-me-tab" data-toggle="tab" href="#offers-from-me" role="tab" aria-controls="offers-from-me" aria-selected="false">Tilboð frá mér</a>
                    </li>
                    {% if is_admin %}
                        <li class="nav-item">
                            <a class="nav-link" id="incoming-offers-tab" data-toggle="tab" href="#incoming-offers" role="tab" aria-controls="incoming-offers" aria-selected="false">Ný tilboð</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="offers-in-progress-tab" data-toggle="tab" href="#offers-in-progress" role="tab" aria-controls="offers-in-progress" aria-selected="false">Ný tilboð</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="tab-content" id="offersTabContent">
                    <div class="tab-pane p-2 fade show active" id="offers-to-me" role="tabpanel" aria-labelledby="offers-to-me-tab">
                        <table class="table table-striped table-light">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Upphæð</th>
                                    <th>Eign</th>
                                    <th>Tilboð skráð</th>
                                    <th>Rennur út</th>
                                    <th>Staða tilboðs</th>
                                    <th>Aðgerðir</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if no_received_offers %}
                                    <tr>
                                        <td colspan="6">Engin tilboð fundust</td>
                                    </tr>
                                {% else %}
                                    {% for offer in offers %}
                                        {% if offer.estate.estate_seller == request.user %}
                                            {% include 'offer/offer_item.html' with offer=offer from_me=False to_me=True %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane p-2 fade" id="offers-from-me" role="tabpanel" aria-labelledby="offers-from-me-tab">
                        <table class="table table-striped table-light">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Upphæð</th>
                                    <th>Eign</th>
                                    <th>Tilboð skráð</th>
                                    <th>Rennur út</th>
                                    <th>Staða tilboðs</th>
                                    <th>Aðgerðir</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if no_made_offers %}
                                    <tr>
                                        <td colspan="6">Engin tilboð fundust</td>
                                    </tr>
                                {% else %}
                                    {% for offer in offers %}
                                        {% if offer.offer_maker == request.user %}
                                            {% include 'offer/offer_item.html' with offer=offer from_me=True to_me=False %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane p-2 fade" id="incoming-offers" role="tabpanel" aria-labelledby="incoming-offers-tab">
                        Ný tilboð
                    </div>
                    <div class="tab-pane p-2 fade" id="offers-in-progress" role="tabpanel" aria-labelledby="offers-in-progress-tab">
                        Tilboð í vinnslu
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
