body {
    background-image: url('/static/images/castle-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}

.document-wrapper {
    height: 100%;
    background: rgba(255,255,255,0.5);
    min-height: 1080px;
}

.login {
    width: 60%;
    margin: 70px auto 0 auto;
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
}

ul.errorlist li {
    list-style: none;
}

.register-user .errorlist.username-error {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
}

.base-container {
    margin-bottom: 160px;
}

.content-container {
    background: rgba(230,230,230,0.9);
    border-radius: 10px;
}

.navbar .nav-item.dropdown {
    margin-left: 20%;
}

#navbarSupportedContent ul.navbar-nav {
    width: 100%;
}

.filter-container, .estate-detail-container {
    margin-bottom: 0;
}

.filter-container .row, .estate-detail-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.filter-container .row {
    max-height: 500px;
    overflow-y: scroll;
}
.filter.fa-search {
    position: absolute;
    right: 45px;
    top: 10px;
    cursor: pointer;
}

input[type="text"], input[type="password"], input[type="search"] {
    width: 100%;
    display: block;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #ddd;
}

a {
    color: #555;
}

.footer {
    position: fixed;
    bottom: 0;
    background: #818181;
    width: 100%;
    padding: 20px 50px 10px;
    color: white;
    line-height: 0.5rem;
    font-size: 0.8rem;
    margin-right: auto;
    margin-left: auto;
}

.footer a {
    color: white;
}

.open-filter {
    cursor: pointer;
}

.hidden {
    display: none;
}

.filter {
    position: relative;
}

.filter li {
    list-style: none;
    cursor: pointer;
}

.image-wrapper {
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
}

.profile.image-wrapper {
    max-width: 50px;
    max-height: 50px;
    border-radius: 100%;
    float: left;
}

.estate .image-wrapper {
    height: 212px;
}

.estate-detail-container .col-5, .estate-detail-container .col-12 {
    background: white;
}

.estate-detail-container .col-12 {
    margin-top: -20px;
}

.estate-detail-container .col, .estate-detail-container .row {
    padding: 10px;
}

.estate-detail-container td.heading {
    font-weight: bold;
}

.estate-detail-container td {
    padding: 0 5px;
}

.estate-detail-container .image-wrapper {
    margin-top: -10px;
}

.estate-detail-container .modal-dialog {
    min-width: 640px;
}

.estate-detail-container .image-wrapper.all-images {
    margin-top: 10px;
}

.register-estate .row, .update-estate .row {
    background: white;
}

#id_open_house {
    border-radius: 5px 0 0 5px;
}

span.step-links {
    width: 100%;
    text-align: center;
}

.paging-cube {
    border: solid 1px #777;
    text-align: center;
    display: inline-block;
    width: 25px;
    border-radius: 3px;
}

.paging-cube:hover {
    background: #777;
}

.paging-cube:hover a {
    color: white;
}

.my-page-area .card {
    border-radius: 10px;
}

.my-page-area a.card {
    text-decoration: none;
}

.search-history.content-container .my-page-area .card {
    max-width: initial;
}

.my-page-area .card:hover {
    background: aliceblue;
}

.profile-image-display a {
    pointer-events: none;
}

#for-changing {
    display: block;
    clear: right;
}

.tab-pane {
    background: white;
    border-radius: 5px;
}
.nav-tabs {
    margin-left: 20px
}

#make-offer-form label[for="id_expires_month"] {
    display: block;
}