{% extends 'base.html' %}
{% block content %}
    <div class="breadcrumbs">Forsíða > Hafa samband</div>
    <div class="content-container my-5 p-5 estates-container">
    <h3 class="text-center">Hafa samband</h3>
        <div class="row">
            <div class="col-12">
                 <div>
                     <p class="text-center">
                         Ef þú þarft að ná í okkur geturðu bara bjallað í 581-2345 eða sent tölvupóst á bjorgvinb@ru.is.
                     </p>
                 </div>

                <a href="{% url 'homepage' %}"><button class="btn btn-link float-right my-3 mx-2">Tilbaka á forsíðu</button></a>
            </div>
        </div>
    </div>
{% endblock %}