{% extends 'base.html' %}

{% block content %}
    <h1>Castle Apartments</h1>
    <form class="form my-2 my-lg-0" method="GET" action="/search/">
      <input type="search" class="form-control mr-sm-2" id="search_box" placeholder="Sláðu inn götuheiti" name="q" value="{{ request.GET.q }}"/>
      <button type="submit" id='search_button' class="btn btn-outline-success float-right my-sm-2" >Leita</button>
        <span data-selector="filter" class="open-filter float-right btn btn-outline-secondary m-2">Ítarleg leit</span>

        <div class="container filter-container">
        <div class="filter hidden row">
        <div class="postalcodes col">
            <ul class="level1">
                <li data-selector="capital" class="level1">
                    <input type="checkbox" id="postal-capital" name="postal-capital" value="postal-capital" />
                    <label>Höfuðborgarsvæðið</label>
                    <ul class="level2 hidden" id="capital">
                        {% for code in postal_codes %}
                            {% if code.postal_code < 230 and code.postal_code != 190 or code.postal_code > 269 and code.postal_code < 277 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-hofudborgarsvaedid" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li data-selector="west" class="level1">
                    <input type="checkbox" id="postal-west" name="postal-west" value="postal-west" />
                    <label>Vesturland</label>
                    <ul class="level2 hidden" id="west">
                        {% for code in postal_codes %}
                            {% if code.postal_code > 299 and code.postal_code < 381 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-vesturland" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li data-selector="northwest" class="level1">
                    <input type="checkbox" id="postal-northwest" name="postal-northwest" value="postal-northwest" />
                    <label>Vestfirðir</label>
                    <ul class="level2 hidden" id="northwest">
                        {% for code in postal_codes %}
                            {% if code.postal_code > 399 and code.postal_code < 525 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-nordvesturland" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li data-selector="north" class="level1">
                    <input type="checkbox" id="postal-north" name="postal-north" value="postal-north" />
                    <label>Norðurland</label>
                    <ul class="level2 hidden" id="north">
                        {% for code in postal_codes %}
                            {% if code.postal_code > 499 and code.postal_code < 682 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-nordurland" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li data-selector="east" class="level1">
                    <input type="checkbox" id="postal-east" name="postal-east" value="postal-east" />
                    <label>Austurland</label>
                    <ul class="level2 hidden" id="east">
                        {% for code in postal_codes %}
                            {% if code.postal_code > 684 and code.postal_code < 786 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-austurland" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li data-selector="south" class="level1">
                    <input type="checkbox" id="postal-south" name="postal-south" value="postal-south" />
                    <label>Suðurland</label>
                    <ul class="level2 hidden" id="south">
                        {% for code in postal_codes %}
                            {% if code.postal_code > 799 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-sudurland" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li data-selector="southwest" class="level1">
                    <input type="checkbox" id="postal-southwest" name="postal-southwest" value="postal-southwest" />
                    <label>Suðurnes</label>
                    <ul class="level2 hidden" id="southwest">
                        {% for code in postal_codes %}
                            {% if code.postal_code == 799 or code.postal_code > 229 and code.postal_code < 263 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-sudvesturland" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col extras">
            <ul>
                <li>
                    <input type="checkbox" name="type1" value="Einbýlishús" id="einbyli">
                    <label for="">Einbýli</label>
                </li>
                <li>
                    <input type="checkbox" name="type1" value="Parhús" id="parhus">
                    <label for="">Parhús</label>
                </li>
                <li>
                    <input type="checkbox" name="type1" value="Raðhús" id="radhus">
                    <label for="">Raðhús</label>
                </li>
                <li>
                    <input type="checkbox" name="type1" value="Fjölbýlishús" id="Fjölbýlishús">
                    <label for="">Fjölbýli</label>
                </li>
                <li>
                    <input type="checkbox" name="lyfta" id="lyfta">
                    <label for="">Lyfta</label>
                </li>
                <li>
                    <input type="checkbox" name="serinngangur" id="serinngangur">
                    <label for="">Sérinngangur</label>
                </li>
                <li>
                    <input type="checkbox" name="bilskur" id="bilskur">
                    <label for="">Bílskúr</label>
                </li>
            </ul>
        </div>

        <div>
            <label for="staerd-fra">Stærð</label>
            <select name="staerdfra" id="staerd-fra">
                <option value="">Frá</option>
                <option value="0">0 m²</option>
                <option value="40">40 m²</option>
                <option value="60">60 m²</option>
                <option value="70">70 m²</option>
                <option value="80">80 m²</option>
                <option value="90">90 m²</option>
                <option value="100">100 m²</option>
                <option value="115">115 m²</option>
                <option value="130">130 m²</option>
                <option value="150">150 m²</option>
                <option value="200">200 m²</option>
                <option value="250">250 m²</option>
                <option value="300">300 m²</option>
                <option value="350">350 m²</option>
                <option value="400">400 m²</option>
                <option value="500">500 m²</option>
                <option value="600">600 m²</option>
                <option value="700">700 m²</option>
                <option value="800">800 m²</option>
                <option value="900">900 m²</option>
                <option value="1000">1000 m²</option>
                <option value="1000">5000 m²</option>
                <option value="1000">10000 m²</option>
            </select>
        </div>
        <div>
            <select name="staerdtil" id="staerd-til">
                <option value="">Til</option>
                <option value="0">0 m²</option>
                <option value="40">40 m²</option>
                <option value="60">60 m²</option>
                <option value="70">70 m²</option>
                <option value="80">80 m²</option>
                <option value="90">90 m²</option>
                <option value="100">100 m²</option>
                <option value="115">115 m²</option>
                <option value="130">130 m²</option>
                <option value="150">150 m²</option>
                <option value="200">200 m²</option>
                <option value="250">250 m²</option>
                <option value="300">300 m²</option>
                <option value="350">350 m²</option>
                <option value="400">400 m²</option>
                <option value="500">500 m²</option>
                <option value="600">600 m²</option>
                <option value="700">700 m²</option>
                <option value="800">800 m²</option>
                <option value="900">900 m²</option>
                <option value="1000">1000 m²</option>
                <option value="1000">5000 m²</option>
                <option value="1000">10000 m²</option>
            </select>
        </div>
        <div>
            <label for="verd-fra">Verð</label>
            <select name="verdfra" id="verd-fra">
                <option value="">Frá</option>
                <option value="1000000">1 mkr.</option>
                <option value="5000000">5 mkr.</option>
                <option value="10000000">10 mkr.</option>
                <option value="15000000">15 mkr.</option>
                <option value="20000000">20 mkr.</option>
                <option value="25000000">25 mkr.</option>
                <option value="30000000">30 mkr.</option>
                <option value="40000000">40 mkr.</option>
                <option value="50000000">50 mkr.</option>
                <option value="60000000">60 mkr.</option>
                <option value="70000000">70 mkr.</option>
                <option value="80000000">80 mkr.</option>
                <option value="90000000">90 mkr.</option>
                <option value="100000000">100 mkr.</option>
                <option value="200000000">200 mkr.</option>
                <option value="300000000">300 mkr.</option>
            </select>
        </div>
        <div>
            <select name="verdtil" id="verd-til">
                <option value="">Til</option>
                <option value="1000000">1 mkr.</option>
                <option value="5000000">5 mkr.</option>
                <option value="10000000">10 mkr.</option>
                <option value="15000000">15 mkr.</option>
                <option value="20000000">20 mkr.</option>
                <option value="25000000">25 mkr.</option>
                <option value="30000000">30 mkr.</option>
                <option value="40000000">40 mkr.</option>
                <option value="50000000">50 mkr.</option>
                <option value="60000000">60 mkr.</option>
                <option value="70000000">70 mkr.</option>
                <option value="80000000">80 mkr.</option>
                <option value="90000000">90 mkr.</option>
                <option value="100000000">100 mkr.</option>
                <option value="200000000">200 mkr.</option>
                <option value="300000000">300 mkr.</option>
            </select>
        </div>
        <div>
            <label for="herbergi-fra">Herbergi</label>
            <select name="herbergifra" id="herbergi-fra">
                <option value="">Frá</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div>
            <select name="herbergitil" id="herbergi-til">
                <option value="">Til</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
    </div>


    </div>
    </form>
   <div class="content-container my-5 p-5 estates-container">
        <h3 class="text-center">Nýjustu fasteignir á skrá</h3>
            <div class="row">
            {% for estate in estates %}
                <div class="col-4">
                {% include 'estate/single_estate.html' with estate=estate %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}