{% extends 'base.html' %}

{% block content %}
    <h1>Castle Apartments</h1>
    <form class="form my-2 my-lg-0" method="GET" action="/search/">
      <input type="search" class="form-control mr-sm-2" id="search_box" placeholder="Sláðu inn götuheiti" name="q" value="{{ request.GET.q }}"/>
      <button type="submit" id='search_button' class="btn btn-outline-success float-right my-sm-2" >Leita</button>
        <span data-selector="filter" class="open-filter float-right btn btn-outline-secondary m-2">Ítarleg leit</span>

        <div class="container filter-container">
        <div class="filter hidden row">
        <div class="postalcodes col">
            <ul class="level1">
                <li data-selector="capital" class="level1">
                    <input type="checkbox" id="postal-capital" name="postal-capital" value="postal-capital" />
                    <label>Höfuðborgarsvæðið</label>
                    <ul class="level2 hidden" id="capital">
                        {% for code in postal_codes %}
                            {% if code.postal_code < 230 and code.postal_code != 190 or code.postal_code > 269 and code.postal_code < 277 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-hofudborgarsvaedid" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li data-selector="west" class="level1">
                    <input type="checkbox" id="postal-west" name="postal-west" value="postal-west" />
                    <label>Vesturland</label>
                    <ul class="level2 hidden" id="west">
                        {% for code in postal_codes %}
                            {% if code.postal_code > 299 and code.postal_code < 381 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-vesturland" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li data-selector="northwest" class="level1">
                    <input type="checkbox" id="postal-northwest" name="postal-northwest" value="postal-northwest" />
                    <label>Vestfirðir</label>
                    <ul class="level2 hidden" id="northwest">
                        {% for code in postal_codes %}
                            {% if code.postal_code > 399 and code.postal_code < 525 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-nordvesturland" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li data-selector="north" class="level1">
                    <input type="checkbox" id="postal-north" name="postal-north" value="postal-north" />
                    <label>Norðurland</label>
                    <ul class="level2 hidden" id="north">
                        {% for code in postal_codes %}
                            {% if code.postal_code > 499 and code.postal_code < 682 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-nordurland" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li data-selector="east" class="level1">
                    <input type="checkbox" id="postal-east" name="postal-east" value="postal-east" />
                    <label>Austurland</label>
                    <ul class="level2 hidden" id="east">
                        {% for code in postal_codes %}
                            {% if code.postal_code > 684 and code.postal_code < 786 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-austurland" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li data-selector="south" class="level1">
                    <input type="checkbox" id="postal-south" name="postal-south" value="postal-south" />
                    <label>Suðurland</label>
                    <ul class="level2 hidden" id="south">
                        {% for code in postal_codes %}
                            {% if code.postal_code > 799 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-sudurland" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li data-selector="southwest" class="level1">
                    <input type="checkbox" id="postal-southwest" name="postal-southwest" value="postal-southwest" />
                    <label>Suðurnes</label>
                    <ul class="level2 hidden" id="southwest">
                        {% for code in postal_codes %}
                            {% if code.postal_code == 799 or code.postal_code > 229 and code.postal_code < 263 %}
                                <li>
                                    <input type="checkbox" id="postal{{ code.postal_code }}" name="postal-sudvesturland" value="postal{{ code.postal_code }}" />
                                    <label for="postal{{ code.postal_code }}">{{ code.postal_code }}, {{ code.municipality }}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col extras">
            <ul>
                <li>
                    <input type="checkbox" name="type1" value="Einbýlishús" id="einbyli">
                    <label for="">Einbýli</label>
                </li>
                <li>
                    <input type="checkbox" name="type1" value="Parhús" id="parhus">
                    <label for="">Parhús</label>
                </li>
                <li>
                    <input type="checkbox" name="type1" value="Raðhús" id="radhus">
                    <label for="">Raðhús</label>
                </li>
                <li>
                    <input type="checkbox" name="type1" value="Fjölbýlishús" id="Fjölbýlishús">
                    <label for="">Fjölbýli</label>
                </li>
                <li>
                    <input type="checkbox" name="lyfta" id="lyfta">
                    <label for="">Lyfta</label>
                </li>
                <li>
                    <input type="checkbox" name="serinngangur" value="Sérinngangur" id="serinngangur">
                    <label for="">Sérinngangur</label>
                </li>
                <li>
                    <input type="checkbox" name="bilskur" value="Bílskúr" id="bilskur">
                    <label for="">Bílskúr</label>
                </li>
            </ul>
        </div>
    </div>

    </div>
    </form>
    <div class="container">
        <h3>Vinsælar fasteignir</h3>
    </div>
{% endblock %}