<div class="footer">
    <div class="container">
        <div class="float-left">
            <p><a href="{% url 'about_us' %}">Um Castle Apartments</a></p>
            <p><a href="{% url 'contact_us' %}">Hafa samband</a></p>
            <p><a href="{% url 'terms' %}">Skilmálar</a></p>
        </div>
        <div class="float-right">
            <p><a href="{% url 'homepage' %}">Castle Apartments ehf.</a></p>
            <p>Sími: 581-2345</p>
            <p>Björgvingsbraut 1, 200 Kópavogi</p>
            <p><a href="mailto:bjorgvinb@ru.is">bjorgvinb@ru.is</a></p>
        </div>
    </div>
</div>

