<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Castle Apartments</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'estate-index' %}">Allar fasteignir</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'register_estate' %}">Skrá fasteign á sölu</a></li>
          {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="/users/profile/">Mínar síður</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Útskrá</a></li>
          {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Innskráning</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Nýskráning</a></li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <div class="profile image-wrapper mx-2">
                <img src="/media/{{ user.profile.profile_image }}" class ="profile-image"/>
            </div>
            <p>Velkomin/n {{ request.user.get_full_name }}</p>

        {% endif %}
  </div>
</nav>