<div class="pagination mt-2">
    <span class="step-links">
        {% if list.has_previous %}
            <span class="paging-cube">
            {% if sorting == '' and query == '' %}
                <a href="?page=1">&laquo;</a>
            {% elif query != '' and sorting == '' %}
                <a href="?{{ query }}&page=1">&laquo;</a>
            {% elif query == '' and sorting != '' %}
                <a href="sort?order_by={{ sorting }}&page=1">&laquo;</a>
            {% else %}
                <a href="?{{ query }}&order_by={{ sorting }}&page=1">&laquo;</a>
            {% endif %}
            </span>
            <span class="paging-cube">
            {% if sorting == '' %}
                <a href="?page={{ list.previous_page_number }}">&lsaquo;</a>
            {% elif query != '' and sorting == '' %}
                <a href="?{{ query }}&page={{ list.previous_page_number }}">&lsaquo;</a>
            {% elif query == '' and sorting != '' %}
                <a href="sort?order_by={{ sorting }}&page={{ list.previous_page_number }}">&lsaquo;</a>
            {% else %}
                <a href="?{{ query }}&order_by={{ sorting }}&page={{ list.previous_page_number }}">&lsaquo;</a>
            {% endif %}
            </span>
        {% endif %}
        <span class="current">
            <span class="current-page">{{ list.number }}</span> af
            <span class="total-pages">
                <a href="?page={{ list.paginator.num_pages }}">{{ list.paginator.num_pages }}</a>
            </span>
        </span>
        {% if list.has_next %}
            <span class="paging-cube">
            {% if sorting == '' and query == '' %}
                <a href="?page={{ list.next_page_number }}">&rsaquo;</a>
            {% elif query != '' and sorting == '' %}
                <a href="?{{ query }}&page={{ list.next_page_number }}">&rsaquo;</a>
            {% elif query == '' and sorting != '' %}
                <a href="sort?order_by={{ sorting }}&page={{ list.next_page_number }}">&rsaquo;</a>
            {% else %}
                <a href="?{{ query }}&order_by={{ sorting }}&page={{ list.next_page_number }}">&rsaquo;</a>
            {% endif %}
            </span>
            <span class="paging-cube">
            {% if sorting == '' and query == ''%}
                <a href="?page={{ list.paginator.num_pages }}">&raquo;</a>
            {% elif query != '' and sorting == '' %}
                <a href="?{{ query }}&page={{ list.paginator.num_pages }}">&raquo;</a>
            {% elif query == '' and sorting != '' %}
                <a href="sort?order_by={{ sorting }}&page={{ list.paginator.num_pages }}">&raquo;</a>
            {% else %}
                <a href="?{{ query }}&order_by={{ sorting }}&page={{ list.paginator.num_pages }}">&raquo;</a>
            {% endif %}
            </span>
        {% endif %}
    </span>
</div>