{% extends 'base.html' %}

{% block content %}
    <div class="content-container my-5 p-5 estates-container">
        <h3 class="text-center">Allar fasteignir</h3>

        <a href="sort?order_by=address"><button class="button">Raða eftir götuheiti</button></a>

        <a href="sort?order_by=price"><button class="button">Raða eftir verði</button></a>

        <a href="sort?order_by=date_listed"><button class="button">Raða eftir skráningardagsetningu</button></a>


        <div class="row">
            {% for estate in estates %}
                <div class="col-4">
                    {% include 'estate/single_estate.html' with estate=estate %}
                </div>
            {% endfor %}
        </div>
        {% include 'components/paging.html' with list=estates %}
    </div>
{% endblock %}
