{% extends 'base.html' %}
{% block content %}
    {% include 'components/filter.html' %}
    <div class="content-container my-5 p-5 estates-container">
        <h3 class="text-center">Allar fasteignir</h3>
        <div class="row my-1">
            <a class="btn btn-outline-secondary col-4" href="sort?order_by=address">Raða eftir götuheiti</a>
            <a class="btn btn-outline-secondary col-4" href="sort?order_by=price">Raða eftir verði</a>
            <a class="btn btn-outline-secondary col-4" href="sort?order_by=date_listed">Raða eftir skráningardagsetningu</a>
        </div>
        <div class="row">
            {% for estate in estates %}
                <div class="col-4 card py-2">
                    {% include 'estate/single_estate.html' with estate=estate %}
                </div>
            {% endfor %}
        </div>
        {% include 'components/paging.html' with list=estates sorting=sorting %}
    </div>
{% endblock %}