{% extends 'base.html' %}
{% block content %}
    <div class="breadcrumbs">Forsíða > Mínar síður > Tilboð > Greiðsluupplýsinar > Yfirlit upplýsinga > Staðfesting</div>
    <div class="content-container payment-step my-5 p-5">
    <h3 class="text-center">Staðfesting</h3>
        <div class="row">
            <div class="col-12">
                 <div>
                     <h5>Til hamingju!</h5>
                     <p>
                         Kaup á fasteign tókust!
                     </p>
                 </div>

                <a href="{% url 'homepage' %}"><button class="btn btn-link float-right my-3 mx-2">Forsíða</button></a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
