{%  extends "base.html" %}
{% block content %}
    <div class="breadcrumbs">Forsíða > Mínar síður ></div>
    <h1>Mínar siður</h1>
    <div class="myPageField">
        <a href="#">Mín tilboð</a>
    </div>
    <div class="myPageField">
        <a href="#">Mínar eignir á sölu</a>
    </div>
    <div class="myPageField">
        <a href="{% url 'vhistory' %}">Skoðaðar eignir</a> #Áður: Mín leitarsaga (í hönnunnarskýrslunni).
    </div>
    <div class="myPageField">
        <a href="#">Stillingar</a>
    </div>

{% endblock %}
