{%  extends "base.html" %}
{% block content %}
    <div class="breadcrumbs"><a href="{% url 'homepage' %}">Forsíða</a> > Innskráning</div>
    <div class="content-container login login-user">
        <h1 class="text-center">Innskráning</h1>
        <form class="form form-horizontal" method="POST">
            {%  csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary my-2 float-right" value="Innskrá">
            <p class="btn btn-link-secondary my-2 mx-2 float-right">Áttu ekki aðgang? Þá geturðu <a href="{% url 'register' %}">nýskráð þig hér.</a></p>
        </form>
    </div>
{% endblock %}