{%  extends "base.html" %}
{% block content %}
    <div class="content-container my-5 p-5 estates-container">
        <div class="myPageArea">
        <h3 class="text-center">Mínar síður</h3>
            <div class="row">
                <div class="myPageSurroundings">
                    <div class="myPageField" style="background-color:red">
                        <a href="#">Mín tilboð</a>
                    </div>
                    <div class="myPageField" style="background-color:yellow">
                        <a href="#">Mínar eignir á sölu</a>
                    </div>
                    <div class="myPageField" style="background-color:green">
                        <a href="/vhistory/{{ user.id }}">Skoðaðar eignir</a>
                    </div>
                    <div class="myPageField"  style="background-color:blue">
                        <a href="#">Stillingar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}