{%  extends "base.html" %}
{% block content %}
    <div class="content-container my-5 p-5 dashboard-container">
        <div class="my-page-area">
        <h3 class="text-center">Mínar síður</h3>
            <div class="row">
                <div class="col-{{ number_of_cols }} card my-1 p-5 text-center">
                    <a href="my_offers">Tilboð</a>
                </div>
                <div class="col-{{ number_of_cols }} card my-1 p-5 text-center">
                    <a href="{% url 'seller_estates' %}">Eignir</a>
                </div>
                {% if user_role == 'admin' %}
                     <div class="col-{{ number_of_cols }} card my-1 p-5 text-center">
                        <a href="agents/">Fasteignasalar</a>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-{{ number_of_cols }} card my-1 p-5 text-center">
                    <a href="{% url 'search_history' %}">Leitarsaga</a>
                </div>
                <div class="col-{{ number_of_cols }} card my-1 p-5 text-center">
                    <a href="{% url 'settings' %}">Stillingar</a>
                </div>
                {% if user_role == 'admin' %}
                    <div class="col-{{ number_of_cols }} card my-1 p-5 text-center" onclick="window.location.href = '/users/index/';">
                        Notendur
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
