{% extends "base.html" %}
{% block content %}
    <div class="content-container update-profile my-5 p-5">
        <h3 class="text-center">Uppfæra notandaupplýsingar</h3>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <label class="col-2">Notendanafn:</label>
                    <div class="col-10">{{ readOnlyData.username }}</div>
                </div>
                <form class="form" method="post" enctype="multipart/form-data">
                    {%  csrf_token %}
                    {{ form }}
                    <div id="submit-profile-changes-wrapper" class="row">
                        <div class="col-12">
                            <input id="submit-profile-changes" type="submit" value="Uppfæra" class="btn btn-primary float-right my-3 mx-2" />
                            <button class="btn btn-link float-right my-3" onclick="window.history.go(-1); return false;">Til baka</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
