{% extends 'base.html' %}
{% block content %}
    {% if not is_admin %}
        {% include 'components/forbidden.html' %}
    {% else %}
        <div class="content-container my-5 p-5 users-container">
        <h3 class="text-center">Allir notendur</h3>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-light">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nafn</th>
                            <th>Notandanafn</th>
                            <th>Netfang</th>
                            <th>Nánar</th>
                        </tr>
                    </thead>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.get_full_name }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <a href="#" title="Skoða"><i class="fa fa-eye fa-2x"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'components/paging.html' with list=users %}
        <div class="mb-2">
            <button class="btn btn-link float-right my-2" onclick="window.history.go(-1); return false;">Til baka</button>
        </div>
    {% endif %}
    </div>
{% endblock %}
